.place__card-image {
    grid-area: image;
    width: 100%;
}

@media screen and (max-width: 1030px) {
  .place {
    max-width: 440px;
    margin: 0 auto 48px;
  }
}

@media screen and (max-width: 770px) {
  .place {
    max-width: 340px;
    margin: 0 auto 24px;
  }
}

@media screen and (max-width:  400px) {
  .place {
    max-width: 320px;
    margin: 0;
    padding: 0;
  }
}