.header__link {
  font-family:'Inter', 'Arial', 'Helvetica', 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
  transition: ease-in 0.1s opacity;
  }
  
.header__link:hover {
  opacity: 0.8;
}
  
@media screen and (max-width: 330px) {
  .header__link {
    font-size: 18px;
    line-height: 24px;
  }
}